<div class="navbar">
  <h3 class='navbar-title'>Rails views</h3>
  <%= link_to 'owners', users_url %> |
  <%= link_to 'cats', cats_url %> |
  <%= link_to 'dogs', dogs_url %>
  <hr />

  <h3 class='navbar-title'>APIs</h3>
  <%= link_to 'weather', weather_api_path %> |
  <%= link_to 'thrones', thrones_api_path %> |
  <%= link_to 'cats', cat_api_path %> |
  <%= link_to 'github', github_search_path %> |
</div>
<hr />
